<div
  class="flex flex-col items-center justify-center h-screen bg-gray-900 text-white text-center px-4"
>
  <h1 class="text-5xl font-extrabold tracking-wide">Welcome to toDos</h1>
  <p class="text-xl mt-2 text-gray-400">
    Your one-stop solution for task management.
  </p>
  <p class="text-md text-gray-400 mt-1">
    Get started by adding your first task!
  </p>
  <a
    routerLink="/login"
    class="mt-6 px-6 py-3 text-lg bg-blue-500 rounded-lg hover:bg-blue-600 transition shadow-lg"
    >Get Started</a
  >
  <div class="mt-8 flex items-center gap-4">
    <a routerLink="/" class="text-gray-400 hover:text-white transition"
      >Need help?</a
    >
    <span class="h-4 w-[1px] bg-gray-600"></span>
    <a routerLink="/" class="text-gray-400 hover:text-white transition"
      >Contact Support</a
    >
  </div>
</div>
